.footer {
  background-color: #d86e4e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  padding: 1.25rem;
}

.link {
  text-decoration: underline;
  text-transform: none;
  color: black;
  cursor: pointer;
}

.link:hover,
.link:focus {
  color: rgb(218, 253, 253); 
}

